// FONT
$default-font-size: 1.6rem;

// COLORS
$color-gray-dark: #202020;
$color-grey-light: #f7f7f7;

$color-type-normal: #d8c6b3;
$color-type-fire: #eaaf81;
$color-type-water: #6fb1da;
$color-type-electric: #f1c577;
$color-type-grass: #97c782;
$color-type-ice: #c3e5e5;
$color-type-fighting: #d87872;
$color-type-poison: #ccc1db;
$color-type-ground: #edd5a2;
$color-type-flying: #8e839e;
$color-type-psychic: #f5ccd8;
$color-type-bug: #c8cf7b;
$color-type-rock: #d6d2c4;
$color-type-ghost: #a192b9;
$color-type-dragon: #b8bfe3;
$color-type-dark: #a09287;
$color-type-steel: #d2d2e0;
$color-type-fairy: #f0dbde;
