.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 2.5rem 2rem;
  padding: 0.5rem 1.2rem 1.2rem 1.2rem;

  &__header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  &__name {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__id {
    font-size: 1.3rem;
  }

  &__tags {
    display: flex;
    gap: 1rem;
  }

  &__sprite {
    position: absolute;
    right: 0;
    transform: translate(-3rem, 0.5rem);
  }

  &__img {
    width: 12rem;
    clip-path: inset(0 0 12% 0);
    filter: drop-shadow(2px 4px 2.5px #00000085);
  }
}
