.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem;

  &__title {
    font-size: 3rem;
    font-weight: 900;
  }

  &__links {
    display: flex;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    margin: 2rem 7rem;

    &__title {
      font-size: 4rem;
    }
  }
}
