@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-color: $color-grey-light;
  color: $color-gray-dark;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  box-sizing: border-box;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .pokedex {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 150rem;
    }
  }
}
